@import "/styles/main.module.scss";
.navbar {
  @include flexBox(row, space-between, center);
  height: 96px;
  @include mobile {
    height: 64px;
  }
  &__logoBox {
    &--logo {
      @include mobile {
        display: none;
      }
    }
    &--mobileLogo {
      display: none;
      @include mobile {
        display: block;
      }
    }
  }
  &__nav {
    @include flexBox(row, center, center);
    &__item {
      white-space: nowrap;
      position: relative;
      padding: 20px;
      @include lg_desktop {
        padding: 10px;
      }
      @include desktop {
        padding: 5px;
      }
      &--icon {
        position: absolute;
        z-index: -1;
        left: 10px;
        transform: translateY(-50%);
        top: 50%;
        @include lg_desktop {
          left: 0px;
        }
        @include desktop {
          left: -5px;
        }
      }
    }
    @include lg_tablet {
      display: none;
    }
  }
  &__burgerBtn {
    display: none;
    @include lg_tablet {
      display: block;
    }
  }
  &__closeBtn {
    display: none;
    z-index: 9;
    @include lg_tablet {
      display: block;
    }
  }
  &__connect {
    display: none;
  }
}
