@import "/styles/main.module.scss";

.mobileNavbar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  padding: 20px 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__routes {
    @include flexBox(column, flex-start, flex-start);
    gap: 32px;
    color: black;
    &__route {
      position: relative;
      &--icon {
        position: absolute;
        z-index: -1;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__withChildren {
      @include flexBox(column, flex-start, flex-start);
      gap: 20px;
      &__title {
        @include flexBox(row, flex-start, center);
        gap: 4px;
        ul {
          display: block;
        }
      }
      &--routes {
        @include flexBox(column, flex-start, flex-start);
        gap: 16px;
        padding-left: 12px;
      }
    }
  }
  &__btnBox {
    width: 100%;
  }
}

@supports (background: -webkit-named-image(i)) {
  .mobileNavbar {
    padding: 16px;
    &__routes {
      padding-top: 30px;
    }
  }
}
