.header {
  .navbar {
    height: 56px;
    @include flexBox(row, space-between, center);
    &__nav {
      &--loginBtn {
        @include typography(700, 16px, 20px, $light);
        background-color: $primary-blue;
        border-radius: 4px;
        padding: 4px 12px;
      }
    }
  }
}
